<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/static/styles/game.css">
        <link rel="stylesheet" href="/static/styles/bootstrap/bootstrap.min.css">
    </head>
    <body>
        <div id="phaser-div"></div>
        <script type="text/javascript" src="/static/scripts/phaser/phaser.min.js"></script>
        <script type="text/javascript" src="/static/scripts/jquery/jquery.min.js"></script>

        <script type="text/javascript" src="/static/scripts/game/player.js"></script>
        <script type="text/javascript" src="/static/scripts/game/gameScene.js"></script>

        <script type="text/javascript" src="/static/scripts/game/core.js"></script>
    </body>
</html>
