<!DOCTYPE html>
<html>
<head>
  <title>Collision Zone</title>
  
  <meta name="description" content="A game about crashing your car into other people's cars! Play now!"/>
  <meta property="og:title" content="Collision Zone"/>
  <meta property="og:site_name" content="collision.zone"/>
  <meta property="og:url" content="http://collision.zone"/>
  <meta property="og:description" content="A game about crashing your car into other people's cars! Play now!"/>
  <meta property="og:image" content="http://collision.zone/static/images/preview.png"/>

  <link rel="canonical" href="http://collision.zone"/>
  <link rel="stylesheet" href="/static/styles/bootstrap/bootstrap.min.css">
  <link rel="stylesheet" href="/static/styles/game.css">

  <script
    src="https://code.jquery.com/jquery-3.4.1.min.js"
    integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
    crossorigin="anonymous"></script>
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-58113760-2"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-58113760-2');
  </script>
  <script src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
  <script>
    $(document).ready(function() {
      (adsbygoogle = window.adsbygoogle || []).push({
        google_ad_client: "ca-pub-5400957932574910",
        enable_page_level_ads: true
      });
    })
  </script>
</head>
<body>
  
  <div id="outer">
    <div id="bs-container">
      <div class="modal fade" id="player-config-modal" data-keyboard="false" role="dialog" aria-labelledby="player-config-modal-label" aria-hidden="true" data-backdrop="static">  
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            
            <div class="modal-header">
              <h5 class="modal-title" id="player-config-modal-label">collision.zone</h5>
            </div>
            
            <div class="modal-body">

              <div id="info-death">
                <h4 id="info-kill-msg"></h4>
                <div class="card-deck">
                  <div class="card text-center">
                    <div class="card-body">
                      <h6 class="card-subtitle">You killed</h6>
                      <h3 id="info-kill-count"></h3>
                      <h6 class="card-subtitle">others</h6>
                    </div>
                  </div>
                  <div class="card text-center">
                    <div class="card-body">
                      <h6 class="card-subtitle">Survived for</h6>
                      <h3 id="info-survival-time"></h3>
                      <h6 class="card-subtitle">seconds</h6>
                    </div>
                  </div>
                </div>
                <hr>
              </div>

              <h6>Setup</h6>
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="field-username-label">Username</span>
                </div>
                <input id="field-username" type="text" class="form-control" aria-labelledby="field-username-label" placeholder="N00bM45t3r69">
              </div>
              <p><small>Move your mouse to move your car. Left click to boost.</small></p>
              
              <div id="alert-play-error-container" class="alert alert-danger alert-dismissible fade show" role="alert" style="display:none;">
                <span id="alert-play-error-msg">Error mesage</span>
                <button type="button" class="close" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>

            </div>

            <div class="modal-footer">
              <div id="spinner-connect" class="spinner-border text-status" role="status" style="display: none;">
                <span class="sr-only">Loading...</span>
              </div>
              <button id="btn-play" type="submit" class="btn btn-primary">Play!</button>
            </div>
          </div>
        </div>

        <div id="cookie-consent" class="alert alert-dark alert-dismissible fade show" role="alert" data-last-updated="2019-07-14">
          <h4 class="alert-heading">Cookie Consent Information</h4>
          By using this site, you consent to the collection and use of cookies. We use cookies to personalise advertising and to analyze traffic.
          <button id="btn-close-cookie-consent" type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>

      </div>
    </div>

    <div id="phaser-div"></div>
  </div>

  <div id="high-scores">
    <table>
      <colgroup>
        <col width="30">
        <col width="200">
        <col width="30">
      </colgroup>
      <thead>
        <tr>
          <th></th>
          <th>Name</th>
          <th>Kills</th>
        </tr>
      </thead>
      <tbody>
        <tr data-high-score-number="1">
          <td class="high-score-number">1.</td>
          <td class="high-score-name"></td>
          <td class="high-score-kills"></td>
        </tr>
        <tr data-high-score-number="2">
          <td class="high-score-number">2.</td>
          <td class="high-score-name"></td>
          <td class="high-score-kills"></td>
        </tr>
        <tr data-high-score-number="3">
          <td class="high-score-number">3.</td>
          <td class="high-score-name"></td>
          <td class="high-score-kills"></td>
        </tr>
        <tr data-high-score-number="4">
          <td class="high-score-number">4.</td>
          <td class="high-score-name"></td>
          <td class="high-score-kills"></td>
        </tr>
        <tr data-high-score-number="5">
          <td class="high-score-number">5.</td>
          <td class="high-score-name"></td>
          <td class="high-score-kills"></td>
        </tr>
      </tbody>
    </table>
  </div>

  <div id="kill-feed">
  </div>
  
  <script type="text/javascript" src="/static/scripts/vendors.js"></script>
  <script type="text/javascript" src="/static/scripts/game.js"></script>
</body>
</html>
