<!DOCTYPE html>
<html>
<head>
  <title>Snowplow Derby (Name TBD)</title>
  <link rel="stylesheet" href="/static/styles/bootstrap/bootstrap.min.css">
  <link rel="stylesheet" href="/static/styles/game.css">
</head>
<body>
  
  <div id="outer">
    <div id="bs-container">
      <div class="modal fade" id="player-config-modal" data-keyboard="false" role="dialog" aria-labelledby="player-config-modal-label" aria-hidden="true" data-backdrop="static">
        
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            
            <div class="modal-header">
              <h5 class="modal-title" id="player-config-modal-label">Snowplow Derby (name TBD)</h5>
            </div>
            
            <div class="modal-body">
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="field-username-label">Username</span>
                </div>
                <input id="field-username" type="text" class="form-control" aria-labelledby="field-username-label" placeholder="N00bM45t3r69">
              </div>
              <h5>Instructions</h5>
              <ul>
                <li>Your dude will move towards your cursor</li>
                <li>Left click to boost</li>
                <li>Right click to brake</li>
                <li>If you get hit in the back, you immediately die.</li>
                <li>Refresh the window to restart, because I'm too lazy to make a proper button for it.</li>
              </ul>
              <p>Obligatory THIS SITE USES COOKIES.</p>
            </div>
            <div class="modal-footer">
              <div id="spinner-connect" class="spinner-border text-status" role="status" style="display: none;">
                <span class="sr-only">Loading...</span>
              </div>
              <button id="btn-play" type="submit" class="btn btn-primary">Play!</button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div id="phaser-div"></div>
  </div>

  <div id="high-scores">
    <table>
      <col width="30">
      <col width="200">
      <col width="30">
      <tr>
        <th></th>
        <th>Name</th>
        <th>Kills</th>
      </tr>
      <tr>
        <td>1.</td>
        <td>Foo bar spam</td>
        <td>32</td>
      </tr>
    </table>
  </div>

  <div id="kill-feed">
    <p>A killed b with C</p>
    <p>A killed b</p>
  </div>
  
  <script type="text/javascript" src="/static/scripts/vendors.js"></script>
  <script type="text/javascript" src="/static/scripts/game.js"></script>
</body>
</html>
